body {
  background: url(../img/restaurant.jpg);
  background-size: cover;
  background-repeat: no-repeat;;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif!important;
  color: #FEFDFB;
}
h1 {
  font-weight: bold;
}
a {
  color: #4DA54D;
}
a:hover {
  color: #aaa;
}