body {
  background: url(../img/restaurant.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif!important;
  color: #FEFDFB;
}
h1 {
  font-weight: bold;
}
a {
  color: #4DA54D;
}
a:hover {
  color: #aaa;
  text-decoration: none;
  background-color: transparent;
}
.footer {
  margin-top: 100px;
}

/*  MEDIA QUERIES  */
@media only screen and (max-width: 640px) {
  body {
    padding-top: 0px;
  }
  .starter-template h1 {
    font-size: 3.3em;
  }
  h1 {
    font-size: 1.8em;
  }
  h2 {
    font-size: 1.2em;
  }
  h4 {
    font-size: 1.3em;
  }
  p {
    font-size: 1em;
  }
  .content {
    padding: 14px;
  }
  .paddingtop {
    padding-top: 14px;
  }
  .footer {
  margin-top: 30px;
}
}