body {
  background: url(../img/restaurant.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif!important;
  color: #FEFDFB;
}
h1 {
  font-weight: bold;
}
a {
  color: #4DA54D;
}
a:hover {
  color: #aaa;
  text-decoration: none;
}
.footer {
  margin-top: 100px;
}