<div class="container">

  <div class="starter-template">
    <h1>Focal Host</h1>
    <p class="lead">
      The smart waiting list for your restaurant
    </p>
    <a href="/#/register" class="btn btn-success btn-lg" role="button">Get started</a>
  </div>
  <div class="row text-center">
    <div class="col-md-4">
      <h1>Go paperless</h1>
      <p>Help preserve the environment!</p>
    </div>
    <div class="col-md-4">
      <h1>Stay organized</h1>
      <p>Give your host some peace of mind.</p>
    </div>
    <div class="col-md-4">
      <h1>Be unique</h1>
      <p>Send text messages when tables are ready.</p>
    </div>
  </div>

  <div class="footer text-center">
    <p>Check out the code on <a href="https://github.com/evansimoni/focalHost" target="_blank">GitHub</a></p>
  </div>

</div><!-- /.container -->