<div class="container">

  <div class="starter-template">
    <h1>Focal Host</h1>
    <p class="lead">
      The smart waiting list for your restaurant
    </p>
    <a href="/#/register" class="btn btn-success btn-lg" role="button">Get started</a>
  </div>
  <div class="row text-center">
    <div class="col-md-4">
      <h1>Go paperless</h1>
      <p>Help preserve the environment!</p>
    </div>
    <div class="col-md-4">
      <h1>Stay organized</h1>
      <p>Give your host(ess) peace of mind.</p>
    </div>
    <div class="col-md-4">
      <h1>Make it personal</h1>
      <p>Your customers will be delighted.</p>
    </div>
  </div>


</div><!-- /.container -->