<form ng-submit="saveParty()" class="form-inline party-form" role="form">
  <p>Name</p>
  <div class="form-group">
    <label class="sr-only" for="partyName">Party name</label>
    <input ng-model="newParty.name" type="text" class="form-control" id="partyName" placeholder="Evan">
  </div>
  <br><br>
  <p>Party Size</p>
  <div class="form-group">
    <label class="sr-only" for="sizeOfParty">Size of party</label>
    <input ng-model="newParty.size" type="text" class="form-control" id="sizeOfParty" placeholder="4">
  </div>
  <br><br>
  <p>Phone Number (must follow 11 digit format: 1 555 234 6789)</p>
  <div class="form-group">
    <label class="sr-only" for="phoneNumber">Phone number</label>
    <input ng-model="newParty.phone" type="text" class="form-control" id="phoneNumber" placeholder="15552346789">
  </div>
  <br><br>
  <button type="submit" class="btn btn-default">Add party</button>
</form>

<table class="table">
  <thead>
    <tr>
      <th>Done?</th>
      <th>Info</th>
      <th>Notified?</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tr ng-repeat="party in parties | orderByPriority">
    <td><input type="checkbox" ng-model="party.done" ng-change="parties.$save(party.$id)"></td>
    <td>
      <div><strong>{{ party.name }} ({{ party.size }} people)</strong></div>
      <div>{{ party.phone }}</div>
      <div>
        <!-- Add date created -->
      </div>
    </td>
    <td>
      <div>
        {{ party.notified }}
      </div>
    </td>
    <td>
      <button ng-click="sendTextMessage(party)" type="submit" class="btn btn-primary">Send SMS</button> 
      <button ng-click="parties.$remove(party.$id)" type="submit" class="btn btn-danger">Remove</button>
    </td>
  </tr>
</table>